/*
@font-size-body: 2 * @sub-unit;
@font-size-title1: 2 * @unit;
@font-size-title2: 1 * @unit;
*/
.hide {
  display: none;
}
body {
  color: #1d1d1d;
  font-family: "OpenSansLightRegular";
  font-size: 15pt;
  margin-top: 50px;
  margin-left: 60px;
}
ul.lista-menu {
  list-style-type: none;
  font-size: 20pt;
}
ul.lista-menu li {
  margin-bottom: 20px;
}
ul.lista-menu li a {
  color: #1d1d1d;
}
h2 {
  font-size: 20pt;
  margin-bottom: 20px;
}
form label {
  font-size: 16pt;
}
/*
.form-horizontal .control-group .control-label {
    font-size       : @font-size-label;
}
*/
select {
  height: 35px;
  font-size: 20px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  /*
    height      : @font-size-label + 5pt;
    font-size   : @font-size-label - 2pt;
    */

  height: 30px;
  font-size: 20px;
}
a.link-atras {
  font-size: 40px;
}
a.link-atras:hover {
  font-size: 40px;
  text-decoration: none;
}
.btn {
  height: 35px;
  font-size: 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
/*
.btn:hover {
    background: #D8D8D8;
    border-color: #D8D8D8;
}

.btn {
    color       : @color;
    font-size   : @font-size-btn;

    background: #CCC;
    border-color: #CCC;
    text-decoration: none;
    border: 1px #E2E2E2 solid;
    padding: 5px 20px;
    margin: 0 5px;
    // color: white !important;
    cursor: pointer;
    min-width: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 0;
}

.row {
    margin-bottom: @unit;
    display: block;
    clear: both;

    label {
        font-family : "OpenSansSemiboldRegular";
        font-size   : @font-size-body;
        width       : @width-label;
        display     : block;
        float       : left;
    }

    div.radio {
        display: block;
        float: left;
        // clear: both;
        // margin-top: -6 * @sub-unit;

        label.radio {
            font-family: "OpenSansLightRegular";
            font-size: @font-input;
            display: block;
            clear: both;
            // margin-left: @width-label;
            margin-bottom : 3 * @sub-unit;
        }
    }

    input {
        font-family: "OpenSansLightRegular";
        font-size: @font-input;
    }

    select {
        font-family: "OpenSansLightRegular";
        font-size: @font-input;
    }

    textarea {
        width   : @width-textarea;
        height  : @height-textarea;
        font-family: "OpenSansLightRegular";
        font-size: @font-input;
    }

}

.title1 {
    font-family: "OpenSansLightRegular";
    font-size: @font-size-title1;

    margin-bottom: 2 * @unit;
}

.title2 {
    font-family: "OpenSansLightRegular";
    font-size: @font-size-title2;

    margin-bottom: 2 * @unit;
}
*/