<div class="row" style="margin-bottom: 20px;">
    <div class="span4">&nbsp;</div>
    <div class="span4">
        LOGO HERE!
    </div>
    <div class="span4">&nbsp;</div>
</div>
<div class="row">
    <div class="span4">&nbsp;</div>
    <div class="span4">
        <form>
            <label>User</label>
            <input type="text">
            <label>Password</label>
            <input type="password">
        </form>

        <a href="#" id = "btnCancel">Cancel</a>
        &nbsp;&nbsp;
        <a href="#" id = "btnLogin" style="font-weight:bold;">Login</a>

    </div>
    <div class="span4">&nbsp;</div>
</div>
